.color1 {
  background-color: #f59e0b;
}
.color2 {
  background-color: #10b981;
}
.color3 {
  background-color: #f97316;
}
.color4 {
  background-color: #14b8a6;
}
.color5 {
  background-color: #b91c1c;
}

.listItem {
  border: 1px solid cornsilk;
  border-radius: 10px;
  width: 30%;
  display: flex;
  align-items: center;
  margin: 0px 15px 15px 0px;
}
.letter_container {
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  font-size: 20px;
}
.description_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.delete_image {
  width: 100%;
}
.delete_Button {
  border: 0px;
  width: 40px;
  background-color: transparent;
}
.delete_Button .clickAfterDeleteButton:focus {
  outline: none;
}
.clickAfterDeleteButton {
  width: 80px;
  border: 0px;
  background-color: transparent;
}
.stars_image {
  width: 60%;
}

@media (max-width: 767px) {
  .listItem {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0px;
  }
}
